<template lang="html">
    <div>
        <home-layout>
            <template scope="props">
                <keep-alive>
                    <router-view></router-view>
                </keep-alive>
            </template>
        </home-layout>
    </div>
</template>

<script>
import HomeLayout from '@/components/home/home-layout'
import { mapMutations } from 'vuex'
export default {
    name:"home",
    data(){
        return {

        }
    },
    //组件
    components: {
        HomeLayout
    },
    mounted() {
        this.resetHomeState()
    },
    methods: {
         ...mapMutations({
            resetHomeState: 'RESET_HOMESTATE',
         })
    },
    created(){
    }
}
</script>

<style lang="scss" scoped="">
    .p{padding:10px;}
    .nav{border:1px solid #ddd;}
    .nav>li{float:left;padding:10px;}
    .title{font-size:20px;padding:10px 0}
</style>
