<template>
    <section>
        <home-header></home-header>
        <div class="main-container" :style="mainContainerStyles">
            <div class="slider-main">
                <home-slide-main></home-slide-main>
            </div>
            <div class="content-wrap">
                <home-right-container>
                    <div slot="slide">
                        <home-slide-nav></home-slide-nav>
                    </div>
                    <div slot="tab">
                        <home-roll-tab></home-roll-tab>
                    </div>
                    <div slot="iframe" class="f-h-full f-w-full">
                        <home-iframe-area v-show="currentMainSlideIndex === 0" :iframeurlList="iframeurlList_10006"></home-iframe-area>
                        <home-iframe-area v-show="currentMainSlideIndex === 1" :iframeurlList="iframeurlList_10008"></home-iframe-area>                            
                        <home-iframe-area v-show="currentMainSlideIndex === 2" :iframeurlList="iframeurlList_10005"></home-iframe-area>                            
                        <home-iframe-area v-show="currentMainSlideIndex === 3" :iframeurlList="iframeurlList_10007"></home-iframe-area>                            
                        <home-iframe-area v-show="currentMainSlideIndex === 4" :iframeurlList="iframeurlList_10009"></home-iframe-area>                            
                        <home-iframe-area v-show="currentMainSlideIndex === 5" :iframeurlList="iframeurlList_10004"></home-iframe-area>                            
                    </div>                   
                </home-right-container>                 
            </div>            
        </div>
    </section>
</template>

<script>
    import Bus from './bus'
    import HomeHeader from '@/components/home/home-header'
    // 主菜单组件
    import HomeSlideMain from './mhome_slide_main'
    // 相关服务
    import { transformToTreeFormat } from '@services/utils_service'
    // 请求资源
    import { getDivideGroup, getMenuResourceList, getContactstype } from '@api/home'
    import { env, setSession, projectName, getSession } from '@services/config_service'
    import HomeSlideNav from './mhome-slide-nav' 
    import HomeRollTab from './mhome-roll-tab' 
    import HomeIframeArea from './mhome-iframe-area' 
    import HomeRightContainer from './mhome-right-container'     
    import { mainModuleResourceId, officialWebsiteTabid } from '@services/bussiness_service'
    import _ from 'lodash'
    const MAIN_MODULE_RESOURCEID = mainModuleResourceId()

    export default {
        name: 'homemenu',
        data() {
            return {
                screenHeight: 0,
                iframeurlList_10006: [],
                iframeurlList_10008: [],
                iframeurlList_10005: [],
                iframeurlList_10007: [],
                iframeurlList_10009: [],
                iframeurlList_10004: []
            }
        },
        components: {
            HomeSlideMain,
            HomeHeader,
            HomeRollTab,
            HomeSlideNav,
            HomeIframeArea,
            HomeRightContainer            
        },
        created() {

            getDivideGroup({"roletypeid":1})
                .then(resp => {
                    if (resp.ret === 0) {
                        Bus.divideGroupList = resp.data.rows
                        return getMenuResourceList({"ostype":1})                        
                    }
                })
                .then(data => {
                    // 初始化菜单工作
                    this._initWork(data.data.rows)
                })            
        },
        mounted() {
            let vm = this
            this.screenHeight = document.documentElement.clientHeight
            window.addEventListener('resize', (e) => {
                vm.resizeWork(e)
            })    
            Bus.$on('reget-iframelist', (resourceid) => {
                switch (resourceid) {
                    case 10006 :
                    this.iframeurlList_10006 = Bus.iframelist_10006
                    break;
                    case 10008 :
                    this.iframeurlList_10008 = Bus.iframelist_10008
                    break; 
                    case 10005 :
                    this.iframeurlList_10005 = Bus.iframelist_10005
                    break; 
                    case 10007 :
                    this.iframeurlList_10007 = Bus.iframelist_10007
                    break; 
                    case 10009 :
                    this.iframeurlList_10009 = Bus.iframelist_10009
                    break; 
                    case 10004 :
                    this.iframeurlList_10004 = Bus.iframelist_10004
                    break;                    
                }
            })             
        },
        computed:{
            ordinaryTreeResourcelists() {
                return Bus.ordinaryTreeResourcelists
            },
            currentMainSlideIndex() {
                return Bus.currentMainSlideIndex
            },
            mainContainerStyles(){
                return {
                    height: this.screenHeight + 'px'
                }                
            },
            menuCollepseStatus() {
                return Bus.menuCollepseStatus
            },
            mainmoduleChangeFlag() {
                return Bus.mainmoduleChangeFlag
            }
        },  
        methods: {
            _initWork(list) {
                list.forEach((menu) => {
                    menu.alivestatus = false
                    // 匹配分组分割处理
                    menu.breakupfalg = false
                    Bus.divideGroupList.forEach((divItem, divIndex) => {
                        if (divItem.resourceid === menu.o_resourceid) {
                            menu.breakupfalg = true
                        }
                    })
                })
                // 新开选项卡预先定制处理
                list = this.preCustomMadeNewTab(list)
                Bus.ordinaryResourcelists = _.clone(list)
                let treeList = transformToTreeFormat(list, Bus.treeSettingOption)  
                Bus.ordinaryTreeResourcelists =  _.clone(this.packagingIframeUrl(treeList)) 
                console.log(Bus.ordinaryTreeResourcelists)           
            },
            // 可视屏幕发生更改触发
            resizeWork(e) {
                this.screenHeight = document.documentElement.clientHeight;
            },
            packagingIframeUrl(ordinaryTreeResourcelists) {
                function handleUrl(data) {
                    if (data.o_weburl === '') {
                        return ''
                    } else if (data.o_resourceid === officialWebsiteTabid) {
                        return data.o_weburl
                    } 
                    else if (data.o_weburl.indexOf('=') !== -1 && data.o_weburl.indexOf('/') === -1) {
                        return `/masgetweb/redirect/subsys.do?session=${getSession().sessionid}${data.o_weburl}`
                    } else if (data.o_weburl.indexOf('pages') !== -1) {
                        return env==='production' ? projectName + data.o_weburl :  data.o_weburl
                    }
                }
                function handleConcatUrl(data) {
                    if (data.o_weburl === '') {
                        return ''
                    } else if (data.o_resourceid === officialWebsiteTabid) {
                        return data.o_weburl
                    } else {
                        return data.o_weburl + `?contactstypeid=${data.contactstypeid}&addressgrouptypeid=${data.addressgrouptypeid}&addressgrouptypename=${escape(data.addressgrouptypename)}`
                    }
                }
                _.forEach(ordinaryTreeResourcelists, (item, index) => {
                    if (
                        //item.o_resourceid !== MAIN_MODULE_RESOURCEID.CONCAT 
                        true
                    ) {
                        if (item.nodes && item.nodes.length) {
                            _.forEach(item.nodes, (node, key) => {
                                node.o_weburl = handleUrl(node)
                                if (node.nodes && node.nodes.length) {
                                     _.forEach(node.nodes, (subnode, subkey) => {
                                          subnode.o_weburl = handleUrl(subnode)  
                                     })
                                }
                            })
                        }
                    } else if (
                        //item.o_resourceid === MAIN_MODULE_RESOURCEID.CONCAT
                        false
                    ) {
                        if (item.nodes && item.nodes.length) {
                            _.forEach(item.nodes, (node, key) => {
                                node.o_weburl = handleConcatUrl(node)
                            })
                        }
                    }
                })
                return ordinaryTreeResourcelists  
            },
            preCustomMadeNewTab(list) {
                Bus.customMadeNewTabLists.forEach((custom) => {
                    list.push(custom)
                })
                return list
            }
        },
        watch: {
            ordinaryTreeResourcelists() {

            }
        }
    }
</script>

<style lang="scss" scoped>
    .main-container{
        position: relative;
        overflow-x: hidden;
    }
    .slider-main{
        position: absolute;
        width:66px;
        left:0;
        top:0;
        height: 100%;
        background: #2b91ff;
        padding-top:56px;
        box-sizing:border-box;
        overflow: hidden;
    }
    .content-wrap{
        position: absolute;
        left: 66px;
        right:0;
        height:100%;
        background: #fff;
        width: calc( 100% - 66px );
    }

    .slide-enter-active, .slide-leave-active {
        -webkit-transition: .2s;
        -webkit-transform: translate3d(0, 0, 0);
    }
    .slide-enter, .slide-leave-active {
        -webkit-transform: translate3d(-192px, 0, 0);
    }
</style>
