<template>
	<div>
		<div class="content-box f-pr">
			<div class="slide-nav-container">
					<transition name="slide">
						<div class="slide-nav-container" 
                         :style="slideNavContainerStyles">	
                         	 <slot name="slide"></slot>
                         </div>
                     </transition>    
			</div>
			
			<div class="content-iframe-container" :class="{'slide': menuCollepseStatus}">

				<div class="roll-tab-container">
					<slot name="tab"></slot>
				</div>

				<div class="iframe-area-container" :style="iframeAreaContainerStyles">
					<slot name="iframe"></slot>
				</div>
			</div>	
		</div>	
	</div>
</template>

<script>
	import Bus from './bus'
	// 菜单宽度
	const MENU_WIDTH = 194
	export default {
		data () {
			return {

			}
		},
		computed: {
			menuCollepseStatus() {
				return Bus.menuCollepseStatus
			},
			iframeAreaContainerStyles() {
	            return {
	                width: this.menuCollepseStatus ? '100%' : `calc( 100% - ${MENU_WIDTH}px )`
	            }
	        },
			// 控制菜单动画
	        slideNavContainerStyles(){
	            return {
	                height: `${this.screenHeight - 56}px`,
	                transition: (!this.menuCollepseStatus && this.mainmoduleChangeFlag) ? 'none' : '.2s all',
	                webkitTransition: (!this.menuCollepseStatus && this.mainmoduleChangeFlag) ? 'none' : '.2s all'
	            }
	        }	        
		},
		mounted() {
			Bus.$on('on-toggle-collape', () => {
				Bus.mainmoduleChangeFlag = false
            	Bus.menuCollepseStatus = !Bus.menuCollepseStatus				
			})
		}	
	}
</script>

<style>
	
    .content-box{
        position: absolute;
        left: 0;
        top: 56px;
        background: #fff;
        width: 100%;
        height: calc( 100% - 56px);
        overflow-x: hidden;
        overflow-y: hidden;
    }
    .slide-nav-container{
        width: 192px;
        height: 100%;
        position: absolute;
        left:0;
        top:0;
        background: #fff;
        overflow-x: hidden;
        border-right: 1px solid #eee;
        box-sizing: border-box;
        /* overflow-y: scroll; */
    }
    .content-iframe-container{
        width: 100%;
        left: 192px;
        right:0;
        top:0;
        height: 100%;
        background: #fff;
        position: absolute;
        -webkit-transition: .2s;
    }
    .content-iframe-container.slide{
        left:1px;
    }
    .iframe-area-container{
        position: absolute;
        left: 0;
        top:40px;
        height: calc( 100% - 40px );
    }
    .roll-tab-container{
        width: 100%;
        height: 40px;
    }
	.slide-enter-active, .slide-leave-active {
        -webkit-transition: .2s;
        -webkit-transform: translate3d(0, 0, 0);
    }
    .slide-enter, .slide-leave-active {
        -webkit-transform: translate3d(-192px, 0, 0);
    }    
</style>
