<template>
    <div class="roll-tab-wrap f-pr" :style="rollTabStyles">
        <ul class="func-list f-clear">
            <li class="func-item f-ib f-fl" @click="toggleCollape">
                <Icon type="navicon-round"></Icon>
            </li>
            <li class="func-item f-ib f-fl" @click="viewMoreRight" ref="viewleftbtn">
                <Icon type="android-arrow-dropleft-circle"></Icon>
            </li>
            <li class="func-item f-ib f-fl func-tabs f-pr">
                <div class="roll-tab-box" ref="tabbox">
                    <div class="roll-tab-inner">
                        <ul class="roll-tab-list f-clear" ref="tablist" :style="tablistStyles">
                            <li class="roll-tab-item f-fl" v-for="(tab, key) in alivetablist" :key="tab.o_resourceid"
                                @click="choseTab(tab, tab.o_resourceid)"
                                :class="{'active': currentTabIndex === key}"
                                :id="`tab${tab.o_resourceid}`"
                                :ref="'tab' + tab.o_resourceid">
                                <span class="f-ib">{{ tab.o_resourcename }}</span>
                                <span  @click.stop="closeTab(tab, key)" v-show="tab.o_weburl!==official_website">
                                     <Icon  type="android-close"></Icon>
                                </span>
                            </li>
                        </ul>
                    </div>
                </div>
            </li>

            <li class="func-item f-ib f-fr func-close">
                <Button type="text" size="small" @click="closeOtherTab">关闭其他</Button>
            </li>
            <li class="func-item f-ib f-fr" @click="viewMoreLeft">
                <Icon type="android-arrow-dropright-circle"></Icon>
            </li>
        </ul>
    </div>
</template>

<script>
    import { getStyle } from '@services/utils_service'
    import { mainModuleResourceId, OFFICIAL_WEBSITE } from '@services/bussiness_service'
    import _ from 'lodash'
    import Bus from './bus'
    const MAIN_MODULE_RESOURCEID = mainModuleResourceId()
    const CLOSEWIDTH = 80
    const SCROLLBTNWIDTH = 40
    const COLLEPSEDISTANCE = 194
    export default{
        name: 'homeRollTab',
        data() {
            return {
                tablist: [],
                tablistMoveDistance: 0,
                official_website:　OFFICIAL_WEBSITE
            }
        },
        props: {
        },
        mounted() {
            // 暴露新增tab方法到window对象    
            window.createNewTabForIframe = this.createNewTabForIframe;           
        },
        methods: {
			       toggleCollape() {
                Bus.$emit('on-toggle-collape', {})
            },
			      _compareWidth() {
               let res = {
                   flag: true,
                   dValue: 0
               }
               let _tabOutWidth = this.$refs.tabbox.getBoundingClientRect().width
               let _tabListWidth = this.$refs.tablist.getBoundingClientRect().width
               if (_tabListWidth <= _tabOutWidth) {
                 res.flag = false
               } else {
                 res.dValue = _tabListWidth - _tabOutWidth
                 res.flag = true
               }
               return res
            },            
            viewMoreRight() {
				        let compare =  this._compareWidth()
                if (compare.flag) {
                    this._moveTabList('right', compare.dValue)
                }            	
            },
			     _moveTabList(direction, distance) {
                if (direction === 'right') {
                    this.tablistMoveDistance = 0
                } else if (direction === 'left') {
                    this.tablistMoveDistance = -distance
                }
            },           
            viewMoreLeft() {
                let compare =  this._compareWidth()
                if (compare.flag) {
                    this._moveTabList('left', compare.dValue)
                }            	
            },
            choseTab(tab, o_resourceid) {
				        this.alivetablist.forEach((item) => {
            					if (item.o_resourceid === o_resourceid) {
            						item.active = true
            					} else {
            						item.active = false	
            					}
                })
                Bus.$emit('on-change-tab', o_resourceid)            	
            },
            closeOtherTab() {
                this.tablistMoveDistance = 0
                // 找到当前id
                let currentAliveTabResourceid = this.alivetablist[Bus.currentTabIndex]['o_resourceid']
                // 匹配出指定选项卡，并退出活跃状态
                Bus.ordinaryTreeResourcelists[Bus.currentMainSlideIndex]['nodes'].forEach((item) => {
                   if (currentAliveTabResourceid !== item.o_resourceid) {
                      item.alivestatus = false
                   }
                })
                // 更改当前索引
                Bus.currentTabIndex = this.alivetablist.length - 1	
            },
            closeTab(tab, index) {
                // 关闭最后一个
    				    if (index === this.alivetablist.length - 1 && this.currentTabIndex === index) {
                    Bus.currentTabIndex = this.alivetablist.length - 2
                } 
                // 关闭最后一个且当前活跃
                else if (index < this.alivetablist.length - 1 && this.currentTabIndex === index) {
                    Bus.currentTabIndex = index
                } else {
                   Bus.currentTabIndex -= 1
                }
                // 更新活跃选项卡
                Bus.ordinaryTreeResourcelists[Bus.currentMainSlideIndex]['nodes'].forEach((item) => {
                   if (tab.o_resourceid === item.o_resourceid){
                      tab.alivestatus = false
                   }
                })    	
            },
            // 检测是否在新tab是否在可视区
            checkVisibleRange(clientRect) {
                let elBoundingClientRect = clientRect
                let elViewleftbtn = this.$refs.viewleftbtn
                let result = {
                    outsizeRight: false,
                    outsizeLeft: false,
                    dValue: 0
                }
                if (elBoundingClientRect.right + CLOSEWIDTH + SCROLLBTNWIDTH > document.documentElement.clientWidth) {
                    result.outsizeRight = true
                    result.outsizeLeft = false
                    result.dValue = (elBoundingClientRect.right + CLOSEWIDTH + SCROLLBTNWIDTH)  - document.documentElement.clientWidth
                }
                if (elBoundingClientRect.left < elViewleftbtn.getBoundingClientRect().right) {
                    result.outsizeRight = false
                    result.outsizeLeft = true
                    result.dValue =  elViewleftbtn.getBoundingClientRect().right - elBoundingClientRect.left
                }
                return result;
            },
            // tab移动到可视区
            moveToVisibleRange(clientRect, visibleResult) {
                let elBoundingClientRect = clientRect
                let martrixArr =  getStyle(this.$refs.tablist, 'transform').split(', ')
                let tablistElTransformDistance = martrixArr[martrixArr.length - 2]
                if (visibleResult.outsizeRight) {
                    this.tablistMoveDistance = -(visibleResult.dValue + Math.abs(Number(tablistElTransformDistance)))
                } else if (visibleResult.outsizeLeft) {
                    this.tablistMoveDistance = Number(tablistElTransformDistance) + visibleResult.dValue
                }
            },
            handleTabOutSizeWork() {
                let compare =  this._compareWidth()
                if (!compare.flag) {
                    return
                }
                this.$nextTick(() => {
                     if (this.alivetablist.length < 5) {
                        return;
                     }
                      let el = this.$refs[`tab${this.alivetablist[Bus.currentTabIndex]['o_resourceid']}`][0]
                     // let el = document.getElementById(`tab${this.alivetablist[Bus.currentTabIndex]['o_resourceid']}`)
                     // 检查是否出界
                     let visibleResult =  this.checkVisibleRange(el.getBoundingClientRect())
                     // 动画
                     this.moveToVisibleRange(el.getBoundingClientRect(), visibleResult)
                })
            },
            // 创建新选项卡，共iframe页面跨窗口调用
            createNewTabForIframe(newTab) {
                let existFlag = false
                let existIndex = -1
                // 去重
                _.uniq(this.alivetablist, 'o_resourceid')
                if (this.alivetablist.length) {
                    // 如果已经存在，找到存在的tab， 更改属性
                    this.alivetablist.forEach((item, k) => {
                        if (item.o_resourceid === newTab.o_resourceid) {
                            // 切换当前
                            Bus.currentTabIndex = k
                            existFlag = true
                            existIndex = k
                            if (newTab.refreshflag) {
                                item.o_weburl = newTab.o_weburl
                            }
                        }
                    })
                }
                // 如果tab中已经存在
                if (existFlag) {
                    // 如果要刷新
                    if (newTab.refreshflag) {
                        // 通知组件去刷新
                        //Bus.$emit('on-refresh-iframe', newTab.o_resourceid)
                        Bus.ordinaryTreeResourcelists[Bus.currentMainSlideIndex]['nodes'].forEach((item) => {
                             if (item.o_resourceid === newTab.o_resourceid) {
                                item.alivestatus = false
                                setTimeout(() => {
                                  item.alivestatus = true
                                }, 100)
                             }
                        })
                    }
                } else {
                    // 添加选项卡
                    Bus.ordinaryTreeResourcelists[Bus.currentMainSlideIndex]['nodes'].forEach((item) => {
                         if (item.o_resourceid === newTab.o_resourceid) {
                            item.o_resourcename = newTab.o_resourcename
                            item.o_weburl = newTab.o_weburl
                            item.refreshflag = newTab.refreshflag || false
                            item.alivestatus = true
                         }
                    })
                    Bus.currentTabIndex = this.alivetablist.length - 1                                    
                }
            }                   
        },
        computed: {
          ordinaryTreeResourcelists() {
            return Bus.ordinaryTreeResourcelists
          },
          currentMainSlideIndex() {
            return Bus.currentMainSlideIndex
          },  
          currentTabIndex() {
            return Bus.currentTabIndex
          },       
          alivetablist() {
              if (!this.ordinaryTreeResourcelists.length) return [];
              let list = []
              // alivestatus为true， 意味着活跃选项卡
              Bus.ordinaryTreeResourcelists[Bus.currentMainSlideIndex]['nodes'].forEach((item) => {
                 if (item.alivestatus) {
                  list.push(item)
                 }
              })
              // 添加新对象
              Bus[`iframelist_${Bus.ordinaryTreeResourcelists[Bus.currentMainSlideIndex]['o_resourceid']}`] = _.clone(list)
              // 通知iframe组件去更新list
              Bus.$emit('reget-iframelist', Bus.ordinaryTreeResourcelists[Bus.currentMainSlideIndex]['o_resourceid'])
              return list
          },
        	menuCollepseStatus() {
        		return Bus.menuCollepseStatus
        	},
			    rollTabStyles() {
              // 宽度切换
              return {
                  width: this.menuCollepseStatus ? '100%' : `calc( 100% - ${COLLEPSEDISTANCE}px )`
              }
          },
          tablistStyles() {
              // 动画
              let distance　= this.tablistMoveDistance
              return {
                  transform: `translate3d(${distance}px, 0, 0)`,
                  webkitTransform: `translate3d(${distance}px, 0, 0)`
              }
          }
                                       
        },
        watch: {
            // 监听当前获取选项卡数据
            alivetablist(n, o) {
              // 左右滚动
              this.handleTabOutSizeWork()
            },
            currentTabIndex() {
              // 左右滚动
              this.handleTabOutSizeWork()
            }           
        }
    }
</script>

<style lang="scss" scoped>
   .roll-tab-wrap{
       z-index: 100;
       height: 42px;
       width: calc( 100% - 194px );
       overflow: hidden;
       background: #fafafa;
       left: 0;
       box-sizing: border-box;
       border-top: 1px solid #e6e6e6;
       border-bottom: 1px solid #e6e6e6;
       position: absolute;

       .func-list{
           height: 100%;

           .func-item{
               cursor: pointer;
               width: 40px;
               height: 100%;
               text-align: center;
               line-height: 44px;
               box-sizing: border-box;
               border-right: 1px solid #e6e6e6;
               margin-right: -3px;
               position: relative;
               z-index: 10;
               float: left;
               i {
                   font-size: 18px;
                   color: #999;
               }
           }
           .func-item:nth-of-type(2){
              // margin-right:4px;
           }
           .func-tabs{
             width: calc(100% -  186px);
             overflow:hidden;
             .roll-tab-box{
                 height: 40px;
                 position: absolute;
                 width:100%;
                 overflow: hidden;
                 left:0;
                 top:0;
                 .roll-tab-list{
                     display: inline-block;
                     height: 100%;
                     -webkit-transition:.4s all;
                     transition:.4s all;
                     position: absolute;
                     left:0px;
                     top:0;
                     width: auto;
                 }
                 .roll-tab-item{
                     transition: .1s all linear;
                     padding: 0 16px;
                     border-right: 1px solid #e5e5e5;
                     float: left;
                     height: 100%;
                     line-height:40px;
                     &.active{
                        background: #2b91ff;
                        color: #fff;
                        i{
                            color: #fff;
                        }
                    }
                     span{
                         height: 100%;
                     }
                     i {
                        font-size: 12px;
                        margin-left: 4px;
                     }
                     .take-seat{
                         width: 7px;
                         height: 13px;
                     }
                 }
                 .roll-tab-item:last-child{

                 }

             }
           }

           .func-close{
               width: 80px;
               cursor:pointer;
               font-size: 12px;
               line-height: 35px;
           }

       }
   }
   .roll-tab-inner{
       width: 90000px;
       height: 100%;
       position: absolute;
       left:0;
       top:0;
       margin-left: 4px;
       overflow: hidden;
   }
   .fade-enter-active, .fade-leave-active {
        transition: opacity .3s;
    }
    .fade-enter, .fade-leave-active {
        opacity: 0
    }
</style>
