<template lang="html">
    <div class="slide-nav-wrap f-pr" ref="wrapper">
        <div class="layout f-h-full">
            <Row type="flex">
                <i-col span="24" class="layout-menu-left">

                    <Menu width="auto"
                        accordion
                        v-for="(item,index) in currentSliderList"
                        :key="index"
                        :name="item.o_resourceid"
                        @on-select="startUpModule"
                        :class="menuOutClasses(item)"
                        :data-url="item.o_weburl" ref="menu">
                        <Menu-item v-if="typeof item.tabtype === 'undefined' && (!item.nodes || !item.nodes.length)"
                                :name="item.o_resourceid"
                                :class="menuitemClases(item, index)"
                                class="f-pr f-bb">
                                <i class="menu-icon" :style="menuIconStyles(item, item.o_resourceid)"></i>
                                <span class="menu-name f-ib">{{ item.o_resourcename }}</span>
                        </Menu-item>
                        <Submenu v-if="item.nodes && item.nodes.length" :name="item.o_resourceid" ref="masgetMenu">
                            <template slot="title" class="test">
                                <i class="menu-icon" :style="menuIconStyles(item, item.o_resourceid)"></i>
                                <span class="menu-name f-ib">{{ item.o_resourcename }}</span> 
                            </template>
                            <Menu-item v-for="(o, key) in item.nodes"  class="f-pr" :name="o.o_resourceid" :key="key" :class="menuitemClases(o, key)" :data-url="o.o_weburl">
                                <i class="menu-icon" :style="menuIconStyles(o, o.o_resourceid)"></i>
                                <span class="menu-name f-ib">{{ o.o_resourcename }}</span>
                            </Menu-item>
                        </Submenu>
                    </Menu>

                </i-col>
            </Row>
        </div>
    </div>
</template>

<script>
import {env} from '@services/config_service'
import _ from 'lodash'
import Bus from './bus'
import { transformToArrayFormat, addClass, getStyle } from '@services/utils_service'
export default {
    name:"mhomeSlideNav",
    props: {
    },
    data:function(){
        return {
          afterTransNavlist: [],
          currentSliderList: []
        }
    },
    methods: {
		menuOutClasses(item) {
            return {
                ['menu-dic']: item.breakupfalg
            }
        },
        menuIconStyles(o, o_resourceid) {
            let prefixUrl = env === 'production' ? '/logisticslyweb/static/images/icon_22x22/' : '/static/images/icon_22x22/' 
            let _url = `url(${prefixUrl}submenu${ o.currentSelected ? '_active' : '' }_${o_resourceid}.png)`
            // if (this.currentMainModuleid === MAIN_MODULE_RESOURCEID.CONCAT) {
            //     _url = `url(${prefixUrl}submenu_contact_${o_resourceid}.png)`
            // }
            //
            return {
                backgroundImage: _url
            }
        },
		menuitemClases(node, index) {
            return [
                {
                    ['selected-menu']: node.currentSelected
                }
            ]
        },
		_checkModuleByModuleid(o_resourceid) {
            let currentAliveTabs = this.alivetablist
            let result = false
            if (currentAliveTabs.length) {
                currentAliveTabs.forEach((row) => {
                    if (row.o_resourceid === o_resourceid) {
                        result = true
                    }
                })
            }
            return result
        },     
		_changeMenuActiveStatus(o_resourceid) {
            let navlist = this.currentNavlist
            _.forEach(navlist, (nav, k) => {
                if (!nav.nodes) {
                    nav.currentSelected = false
                } else {
                    _.forEach(nav.nodes, (r, i) => {
                        r.currentSelected = false
                    })
                }
                if (!nav.nodes && nav.o_resourceid === o_resourceid) {
                    nav.currentSelected = true;
                }
                if (nav.nodes) {
                    _.forEach(nav.nodes, (m, n) => {
                        if (m.o_resourceid === o_resourceid) {
                            m.currentSelected = true
                        }
                    })
                }
            })
            Bus.ordinaryTreeResourcelists[Bus.currentMainSlideIndex]['nodes'] = _.clone(navlist)
            this.currentSliderList =  _.clone(navlist)
        },
		_changeTabCurrent(module, moduleid, flag) {
            let index = -1
            this.alivetablist.forEach((tab, key) => {
                if (tab.o_resourceid === moduleid) {
                    index = key
                }
            })
        	Bus.currentTabIndex = index !== -1 ? index : 0
        },
		_setUpModule(moduleid, module) {
            module.alivestatus = true
            Bus.currentTabIndex = this.alivetablist.length - 1
        },           
        startUpModule(o_resourceid) {
        	// 从平级菜单中匹配id
        	let menuIndex = _.findIndex(Bus.ordinaryResourcelists, (menu) => {
        		return menu.o_resourceid === o_resourceid
        	})
        	// 获取到菜单数据
        	let menuItem = menuIndex === -1 ? false : Bus.ordinaryResourcelists[menuIndex]
        	// 如果没有匹配到
        	if (!menuItem) return;
        	// 如果没有路径
        	if (_.trim(menuItem.o_weburl) === '') {
				this.$Message.warning('该模块研发中');
                return;        		
        	}
        	// 更改高亮状态
        	this._changeMenuActiveStatus(o_resourceid)
        	// 检查选项卡是否存在
        	let checkResult = this._checkModuleByModuleid(o_resourceid) 
        	// 如果存在
			if (checkResult) {
                // 切换到当前选项卡
                this._changeTabCurrent(menuItem, o_resourceid, true);
            } else {
                // 启动该模块
                this._setUpModule(o_resourceid, menuItem)
            }       	
        }         
    }, 
    computed:{
        ordinaryTreeResourcelists() {
            return Bus.ordinaryTreeResourcelists
        },
        currentMainSlideIndex() {
            return Bus.currentMainSlideIndex
        },  
        currentTabIndex() {
            return Bus.currentTabIndex
        },        
        alivetablist() {
           if (!this.ordinaryTreeResourcelists.length) return [];
           let list = []
           // 找出当前模块活跃的选项卡
            Bus.ordinaryTreeResourcelists[Bus.currentMainSlideIndex]['nodes'].forEach((item) => {
                 if (item.alivestatus) {
                  list.push(item)
                 }
            })
            return list
        },           
        currentNavlist() {
            if (!this.ordinaryTreeResourcelists.length) return [];
            // 资源树结构中，动态去匹配
            return typeof this.ordinaryTreeResourcelists[this.currentMainSlideIndex]['nodes'] !== 'undefined'
                   ? this.ordinaryTreeResourcelists[this.currentMainSlideIndex]['nodes']
                   : []
        }        
    },
    mounted() {
        let that = this
        // 切换选项卡时， 菜单高亮切换
        Bus.$on('on-change-tab', (resourceid) => {
        	this.startUpModule(resourceid)
        })
        this.currentSliderList = _.clone(this.currentNavlist)
        // 模块切换
        Bus.$on('on-switch-module', (resourceid) => {
            // 缓存当前模块高亮索引， 以便再回来，再高亮
            Bus.currentTabIndex = Bus[`cacheCurrentTabIndex_${this.ordinaryTreeResourcelists[this.currentMainSlideIndex]['o_resourceid']}`] || 0
        })
    },
    watch: {
        currentNavlist() {
            // currentNavlist => currentSliderList
            this.currentSliderList = _.clone(this.currentNavlist)
        }
    }
}
</script>

<style lang="scss" scoped>
    .ivu-menu{
        width:190px !important;
    }
    .layout{
        border: 1px solid #d7dde4;
        background: #fff;
        position: relative;
        border-right:0;
        width: 190px;
    }
    .layout-breadcrumb{
        padding: 10px 15px 0;
    }
    .layout-content{
        min-height: 200px;
        margin: 15px;
        overflow: hidden;
        background: #fff;
        border-radius: 4px;
    }
    .layout-content-main{
        padding: 10px;
    }
    .layout-copy{
        text-align: center;
        padding: 10px 0 20px;
        color: #9ea7b4;
    }
    .layout-menu-left{
        background: #fff;
    }
    .layout-header{
        height: 60px;
        background: #fff;
        box-shadow: 0 1px 1px rgba(0,0,0,.1);
    }
    .layout-logo-left{
        width: 90%;
        height: 30px;
        background: #5b6270;
        border-radius: 3px;
        margin: 15px auto;
    }
    .ivu-menu-item{
        box-sizing: border-box;
        border-bottom: 1px solid #eee;
        position: relative;
        padding: 6px 30px;
    }
    .ivu-menu-item:last-child{
        border: none;
    }
    .menu-item-link{
        left:0;
        top:0;
        width: 100%;
        height: 100%;
    }
    .menu-icon{
        display: inline-block;
        width: 20px;
        height: 20px;
        background-repeat: no-repeat;
        position: relative;
        top:2px;
    }
    .menu-name{
        position: relative;
        top: -2px;
    }
    .slide-nav-wrap{
        z-index: 10;
    }
    .slide-nav-wrap .ivu-menu-light.ivu-menu-vertical .ivu-menu-item-active:not(.ivu-menu-submenu){
        color: #666;
        border-right-color: #fff;
    }
    .slide-nav-wrap .ivu-menu-light.ivu-menu-vertical .ivu-menu-submenu{
        border-bottom: 1px solid #eee;
    }
    .slide-nav-wrap .ivu-menu-light.ivu-menu-vertical .ivu-menu-submenu .ivu-menu-item{
        background: #e5e5e5;
    }
    .slide-nav-wrap .ivu-menu-opened{
        background: #f2f2f2;
    }
    .selected-menu i, .selected-menu .menu-name{
        color: #2b91ff;
    }
    .selected-menu::after{
        transition: .3s all linear;
        width: 8px;
        height: 39px;
        position: absolute;
        content: ' ';
        left:-1px;
        top:0;
        background: #2b91ff;
    }
    .ivu-menu-vertical .ivu-menu-item, .ivu-menu-vertical .ivu-menu-submenu-title{
        padding: 6px 24px;
        padding-top: 6px !important;
        padding-bottom: 6px !important;
    }
    .slide-nav-wrap .ivu-menu-vertical .ivu-menu-submenu-title-icon{
        font-size: 20px;
    }
    .ivu-menu-vertical .ivu-menu-item-group-title{
        height: 6px;
        line-height:6px;
    }
    .layout-menu-left{
        background: #f2f2f2;
    }
    .menu-dic{
        margin-bottom: 5px;
    }
    .ivu-menu-vertical.ivu-menu-light:after{
        background: #fff;
    }
    .slide-nav-wrap .ivu-menu-light.ivu-menu-vertical .ivu-menu-submenu .ivu-menu-item{
        padding-left: 40px;
    }
    .f-bb{
        border-bottom: 1px solid #f2f2f2 !important;
    }
</style>
