<template lang="html">
    <div class="iframe-wrap f-pr">
        <ul class="iframe-list f-pa">
            <li class="iframe-item f-pa"
                :style="iframeItemStyles"
                v-for="(item, index) in iframeurllist"
                :key="item.o_resourceid"
                v-show="currentTabIndex === index">
                <iframe :id="'iframe_'+item.o_resourceid" :src="item.o_weburl" width="100%" height="100%" frameborder="0"></iframe>
            </li>
        </ul>
    </div>
</template>

<script>
import {getSession, env, projectName} from '@services/config_service'
import _ from 'lodash'
import { officialWebsiteTabid, drivermanagerTabid, shippermanagerTabid, assignInfoTabid } from '@services/bussiness_service'
import { mainModuleResourceId } from '@services/bussiness_service'
import Bus from './bus'
// 主模块资源id
const MAIN_MODULE_RESOURCEID = mainModuleResourceId()
export default {
    name:"homeIframeArea",
    props: {
        iframeurlList: {
          type: Array,
          default: () => {
            return []
          }
        }
    },
    data(){
        return {
          iframeurllist: []
        }
    },
    mounted() {
        this.iframeurllist = _.clone(this.iframeurlList)       
    },
    methods: {
               
    },
    computed: {
        currentTabIndex() {
          return Bus.currentTabIndex
        },
        iframeItemStyles(){
            let _zIndex = 10
            return {
                zIndex: _zIndex
            }
        }
    },
    watch: {
      iframeurlList() {
          console.log('watch')
         this.iframeurllist = _.clone(this.iframeurlList) 
      }
    }
}
</script>

<style lang="scss" scoped>
  .iframe-wrap{
      z-index:1000;
      width: 100%;
      height: 100%;
      border-top: 1px solid #eee;
      background: #fff;

      .iframe-list{
          left:0;
          top:0;
          width:100%;
          height:100%;
          .iframe-item{
              width:100%;
              height: 100%;
              left:0;
              top:0;
          }
      }
      .iframe-item{
          iframe{
              border-left: 1px solid #eee;
              box-sizing: border-box;
          }
      }
  }
</style>
