<template>
    <div class="wrap">
        <ul class="slide-list" v-if="ordinaryTreeResourcelists.length">
            <li class="slide-item"
                v-for="(item, index) in ordinaryTreeResourcelists"
                :key="index"
                :class="{'active': currentMainSlideIndex === index}"
                @click="changeSlide(item, index)">
                <div class="slide-icon-wrap">
                    <i :style="slideIconStyles(item.o_icon, item.o_iconactive, index)"></i>
                </div>
                <div class="slide-name">
                    <span>{{ item.o_resourcename }}</span>
                </div>  
            </li>
        </ul>
    </div>
</template>


<script>
	import Bus from './bus'
    import _ from "lodash"
    import { env, setSession, projectName, getSession } from '@services/config_service'
    const ENVFLAG = env === 'development'
    const MENU_ICON_PREFIX_URL = `${ENVFLAG ? '' : '/logisticslyweb'}/static/images/icon_32x32/main_`
    export default {
        name: 'homeSlideMain',
        data() {
            return {

            }
        },
        methods: {
            slideIconStyles(url, urlactive, index) {
                return {
                    backgroundSize: 'cover',
                    backgroundImage: `url(${index===this.currentMainSlideIndex ? urlactive : url})`,
                    backgroundRepeat: "no-repeat"
                }
            },
            changeSlide(item, index){
                // 存取当前模块选项卡当前活跃索引
                Bus[`cacheCurrentTabIndex_${this.ordinaryTreeResourcelists[this.currentMainSlideIndex]['o_resourceid']}`] = Bus.currentTabIndex
                Bus.currentMainSlideIndex = index
                Bus.$emit('on-switch-module', item.o_resourceid)
                this.slideIconStyles(item.iconurl, item.iconactive, index)
            }
        },
        computed: {
           ordinaryTreeResourcelists() {
           		// 过滤流程图
				let list  = _.filter(Bus.ordinaryTreeResourcelists, function(row){
	                return (row.o_resourceid !== 10028);
	            })    
	            // 设置菜单图标
				_.forEach(list, (item, key) => {
	                item.o_icon = MENU_ICON_PREFIX_URL + `${item.o_resourceid}.png`
	                item.o_iconactive = MENU_ICON_PREFIX_URL +  `active_${item.o_resourceid}.png`
	            }) 		       		
           		return list
           },
           // 当前活跃菜单索引
           currentMainSlideIndex() {
           		return Bus.currentMainSlideIndex
           }
        },
        mounted(){

        }
    }
</script>

<style lang="scss">
    @import '../../assets/scss/function';
    @import '../../assets/scss/components';    

    .slide-icon-wrap{
        box-sizing:border-box;
        width: 100%;
        height: 36px;
        text-align: center;
    }
    .slide-icon-wrap i {
        display: inline-block;
        height: 100%;
        width: 36px;
        background-size: 32px 32px !important;
        position: relative;
        left: 2px;
    }
    .slide-item{
        cursor:pointer;
    }
    .slide-item.active{
        background: #fff;
    }
    .slide-item.active .slide-name{
        color: #2b91ff;
    }
    .slide-name {
        color: #fff;
        text-align:center;
        font-size: 14px;
    }
    .slide-item{
        height: 60px;
    }
</style>
